<h1>Messages#create</h1>
<p>Find me in app/views/messages/create.html.erb</p>
<%= form_for :message, :url => messages_path do |f| %>
					
	<%= f.text_field :content %>

	<%= f.submit "Comment" %>
						
<% end %>